<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Captain's Log</title>
</head>
<body>
    <h1>New Log</h1>
    <form action="/logs" method="POST">
        Title: <input type="text" name="title"><br>
        Entry: <input type="text" name="entry"><br>
        Ship Status: <input type="checkbox" name="shipIsBroken"><br>
        <input type="submit" name="Add Log">
    </form>
</body>
</html>